<meta charset="utf-8" />
		<!-- Hidden -->
		<div class="parentCon">
			<span id="SRH_CPT_RES_DTL_ID" class="component_ui"></span>
		</div>
		
		<!-- Resource 코드 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_RES_CD_01" class="component_ui"></span>
				<span id="SRH_CPT_RES_CD_02" class="component_ui"></span>
				<span id="SRH_CPT_RES_CD_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_RES_CD_04" class="component_ui"></span>
				<span id="SRH_CPT_RES_CD_05" class="component_ui"></span>
				<span id="SRH_CPT_RES_CD_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Resource 명 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_RES_DESCRIP_01" class="component_ui"></span>
				<span id="SRH_CPT_RES_DESCRIP_02" class="component_ui"></span>
				<span id="SRH_CPT_RES_DESCRIP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_RES_DESCRIP_04" class="component_ui"></span>
				<span id="SRH_CPT_RES_DESCRIP_05" class="component_ui"></span>
				<span id="SRH_CPT_RES_DESCRIP_06" class="component_ui"></span>
			</span>
		</div>
