<meta charset="utf-8" />
<div id="contentsInner">
	<!-- data component-->
	<div id="COMM_SRH_POP_ACCOUNT_WINDOW_01" class="component_ui window_component">
		<div id="COMM_SRH_POP_ACCOUNT_WINDOW_01_GRD" class="component_ui" ></div>
		<footer>
			<div class="parentCon">
				<span class="rightCon">
					<span id="COMM_SRH_POP_ACCOUNT_WINDOW_01_CPT_99_01" class="component_ui"></span>
					<span id="COMM_SRH_POP_ACCOUNT_WINDOW_01_CPT_99_02" class="component_ui"></span>
				</span>
			</div>
		</footer>
	</div>
</div>

