<meta charset="utf-8" />
		<!-- Hidden -->
		<div class="parentCon">
			<span id="SRH_CPT_ITEM_MST_ID" class="component_ui"></span>
			<span id="SRH_CPT_ITEM_TP_ID" class="component_ui"></span>
			<span id="SRH_CPT_ITEM_UOM_ID" class="component_ui"></span>
		</div>
		
		<!-- 아이템 코드 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_ITEM_CD_01" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_CD_02" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_CD_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_ITEM_CD_04" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_CD_05" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_CD_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- 아이템 명 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_ITEM_NM_01" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_NM_02" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_NM_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_ITEM_NM_04" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_NM_05" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_NM_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- 아이템 유형 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_ITEM_TP_01" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_TP_02" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_TP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_ITEM_TP_04" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_TP_05" class="component_ui"></span>
				<span id="SRH_CPT_ITEM_TP_06" class="component_ui"></span>
			</span>
		</div>
