<meta charset="utf-8" />
						<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_ITEM_CLASS_01_01" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_01_02" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_01_03" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="SRH_ITEM_CLASS_01_04" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_01_05" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_01_06" class="component_ui"></span>
							</span>
						</div>
	
						<div class="parentCon">
							<span class="leftCon">
								<span id="SRH_ITEM_CLASS_02_01" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_02_02" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_02_03" class="component_ui"></span>
							</span>
							<span class="rightCon">
								<span id="SRH_ITEM_CLASS_02_04" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_02_05" class="component_ui"></span>
								<span id="SRH_ITEM_CLASS_02_06" class="component_ui"></span>
							</span>
						</div>
