<meta charset="utf-8" />
	<!-- DATA 영역 시작  -->
	<!-- <div class="data_area">
		data component
		<div id="VER_META" class="component_ui"></div>
	</div> -->
	
	<!-- Hidden -->
	<!-- <div class="parentCon">
		<span id="SRH_CPT_MAIN_VER_MST_ID" class="component_ui"></span>
		<span id="SRH_CPT_MODULE_ID" class="component_ui"></span>
	</div> -->
		
	<!-- Process Step -->
	<div class="parentCon">
		<span class="leftCon">
			<span id="SRH_CPT_PROCESS_STEP_01" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_STEP_02" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_STEP_03" class="component_ui"></span>
		</span>
		<span class="rightCon">
			<span id="SRH_CPT_PROCESS_STEP_04" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_STEP_05" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_STEP_06" class="component_ui"></span>
		</span>
	</div>
	
	<!-- Process Description -->
	<div class="parentCon">
		<span class="leftCon">
			<span id="SRH_CPT_PROCESS_DESCRIP_01" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_DESCRIP_02" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_DESCRIP_03" class="component_ui"></span>
		</span>
		<span class="rightCon">
			<span id="SRH_CPT_PROCESS_DESCRIP_04" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_DESCRIP_05" class="component_ui"></span>
			<span id="SRH_CPT_PROCESS_DESCRIP_06" class="component_ui"></span>
		</span>
	</div>