<meta charset="utf-8" />
<div id="POP_UI_CM_17_01" class="component_ui window_component">
	<div class="popup_area box">
		<div>
			<span id='POP_UI_CM_17_01_00_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_00_02' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_00_03' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_00_04' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_00_05' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_00_06' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_01_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_01_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_02_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_02_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_03_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_03_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_04_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_04_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_05_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_05_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_06_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_06_02' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_06_03' class="component_ui" style="vertical-align:top"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_07_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_07_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_08_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_08_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_09_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_09_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_10_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_10_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_11_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_11_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_12_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_12_02' class="component_ui"></span>
		</div>
		<div>
			<span id='POP_UI_CM_17_01_13_01' class="component_ui"></span>
			<span id='POP_UI_CM_17_01_13_02' class="component_ui"></span>
		</div>
	</div>
	<footer>
		<span id="POP_UI_CM_17_01_CONFIRM" class="component_ui"></span>
		<span id="POP_UI_CM_17_01_CANCEL" class="component_ui"></span>
	</footer>
</div>

<div id="POP_UI_CM_17_SELECT_STEP" class="component_ui window_component">
	<span id='POP_UI_CM_17_SELECT_STEP_00_01' class="component_ui"></span>
	<span id='POP_UI_CM_17_SELECT_STEP_00_02' class="component_ui"></span>
	<span id='POP_UI_CM_17_SELECT_STEP_00_03' class="component_ui"></span>
	<span id='POP_UI_CM_17_SELECT_STEP_00_04' class="component_ui"></span>
	<span id='POP_UI_CM_17_SELECT_STEP_00_05' class="component_ui"></span>
	<span id='POP_UI_CM_17_SELECT_STEP_00_06' class="component_ui"></span>
	<div id="POP_UI_CM_17_SELECT_STEP_01_01" class="component_ui"></div>
</div>