<meta charset="utf-8" />
		<!-- Hidden -->
		<div class="parentCon">
			<span id="SRH_CPT_LOCAT_MST_ID" class="component_ui"></span>
			<span id="SRH_CPT_LOCAT_TP_ID" class="component_ui"></span>
			<span id="SRH_CPT_LOCAT_DTL_ID" class="component_ui"></span>
			<span id="SRH_CPT_LOCAT_MGMT_ID" class="component_ui"></span>
		</div>
		<!-- 거점유형 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_LOCAT_TP_01" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_TP_02" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_TP_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_LOCAT_TP_04" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_TP_05" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_TP_06" class="component_ui"></span>
			</span>
		</div>
		<!-- 거점레벨 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_LOCAT_LV_01" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_LV_02" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_LV_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_LOCAT_LV_04" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_LV_05" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_LV_06" class="component_ui"></span>
			</span>
		</div>
		<!-- 거점코드 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_LOCAT_CD_01" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_CD_02" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_CD_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_LOCAT_CD_04" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_CD_05" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_CD_06" class="component_ui"></span>
			</span>
		</div>
		<!-- 거점명 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_LOCAT_NM_01" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_NM_02" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_NM_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_LOCAT_NM_04" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_NM_05" class="component_ui"></span>
				<span id="SRH_CPT_LOCAT_NM_06" class="component_ui"></span>
			</span>
		</div>
