<meta charset="utf-8" />
	<!-- DATA 영역 시작  -->
	<div class="data_area">
		<!-- data component-->
		<div id="VER_META" class="component_ui"></div>
	</div>
		<!-- Hidden -->
		<div class="parentCon">
			<span id="SRH_CPT_MAIN_VER_MST_ID" class="component_ui"></span>
			<span id="SRH_CPT_MAIN_VER_DTL_ID" class="component_ui"></span>
			<span id="SRH_CPT_PLAN_SNRIO_MGMT_DTL_ID" class="component_ui"></span>
			<span id="SRH_CPT_MODULE_ID" class="component_ui"></span>
		</div>
		
		<!-- Module 코드 -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_MODULE_CD_01" class="component_ui"></span>
				<span id="SRH_CPT_MODULE_CD_02" class="component_ui"></span>
				<span id="SRH_CPT_MODULE_CD_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_MODULE_CD_04" class="component_ui"></span>
				<span id="SRH_CPT_MODULE_CD_05" class="component_ui"></span>
				<span id="SRH_CPT_MODULE_CD_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Main Version ID -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_MAIN_VER_ID_01" class="component_ui"></span>
				<span id="SRH_CPT_MAIN_VER_ID_02" class="component_ui"></span>
				<span id="SRH_CPT_MAIN_VER_ID_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_MAIN_VER_ID_04" class="component_ui"></span>
				<span id="SRH_CPT_MAIN_VER_ID_05" class="component_ui"></span>
				<span id="SRH_CPT_MAIN_VER_ID_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Simulation Version ID -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_SIMUL_VER_ID_01" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_02" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_SIMUL_VER_ID_04" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_05" class="component_ui"></span>
				<span id="SRH_CPT_SIMUL_VER_ID_06" class="component_ui"></span>
			</span>
		</div>
		
		<!-- Process Description -->
		<div class="parentCon">
			<span class="leftCon">
				<span id="SRH_CPT_PRSS_DESC_01" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_02" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_03" class="component_ui"></span>
			</span>
			<span class="rightCon">
				<span id="SRH_CPT_PRSS_DESC_04" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_05" class="component_ui"></span>
				<span id="SRH_CPT_PRSS_DESC_06" class="component_ui"></span>
			</span>
		</div>