<div id="contentsInner" class="standardTemplate">
	<div class="searchWrap parentCon">
		<div class="leftCon col-xs-12 col-sm-8 col-md-8 col-lg-9" ><!-- left-side contents-->
			<div>
				<span id="search_1_1" class="component_ui"></span>
				<span id="search_1_2" class="component_ui"></span>
				<span id="search_1_3" class="component_ui"></span>
				<span id="search_1_4" class="component_ui"></span>
				<span id="search_1_5" class="component_ui"></span>
				<span id="search_1_6" class="component_ui"></span>
				<span id="search_1_7" class="component_ui"></span>
				<span id="search_1_8" class="component_ui"></span>
				<span id="search_1_9" class="component_ui"></span>
				<span id="search_1_10" class="component_ui"></span>
			</div>
			<div>
				<span id="search_2_1" class="component_ui"></span>
				<span id="search_2_2" class="component_ui"></span>
				<span id="search_2_3" class="component_ui"></span>
				<span id="search_2_4" class="component_ui"></span>
				<span id="search_2_5" class="component_ui"></span>
				<span id="search_2_6" class="component_ui"></span>
				<span id="search_2_7" class="component_ui"></span>
				<span id="search_2_8" class="component_ui"></span>
				<span id="search_2_9" class="component_ui"></span>
				<span id="search_2_10" class="component_ui"></span>
			</div>
		</div>
		<div class="rightCon col-xs-12 col-sm-4 col-md-4 col-lg-3"><!-- right-side contents-->
			<div>
				<span id="button_1_1" class="component_ui"></span>
				<span id="button_1_2" class="component_ui"></span>
				<span id="button_1_3" class="component_ui"></span>
				<span id="button_1_4" class="component_ui"></span>
			</div>
			<div>
				<span id="button_2_1" class="component_ui"></span>
				<span id="button_2_2" class="component_ui"></span>
				<span id="button_2_3" class="component_ui"></span>
				<span id="button_2_4" class="component_ui"></span>
			</div>
		</div>
	</div>
	<div class="centerWrap">
		<div class="parentCon">
			<div class="leftCon col-xs-12 col-sm-8 col-md-8 col-lg-9">
				<span id="center_1_1" class="component_ui"></span>
				<span id="center_1_2" class="component_ui"></span>
				<span id="center_1_3" class="component_ui"></span>
				<span id="center_1_4" class="component_ui"></span>
				<span id="center_1_5" class="component_ui"></span>
				<span id="center_1_6" class="component_ui"></span>
				<span id="center_1_7" class="component_ui"></span>
				<span id="center_1_8" class="component_ui"></span>
				<span id="center_1_9" class="component_ui"></span>
				<span id="center_1_10" class="component_ui"></span>
			</div>
			<div class="rightCon col-xs-12 col-sm-4 col-md-4 col-lg-3">
				<span id="center_button_1_1" class="component_ui"></span>
				<span id="center_button_1_2" class="component_ui"></span>
				<span id="center_button_1_3" class="component_ui"></span>
				<span id="center_button_1_4" class="component_ui"></span>
			</div>
		</div>
		<div id="center" class="component_ui"></div><!--solo contents-->
	</div>
</div>
