<section id="contentsInner" class="STANDARD">
    <div class="data_area">
        <div id="DATA_01" class="component_ui"></div>
        <div id="VIEW_META" class="component_ui"></div>
      </div>
    <div class="content_area parentCon">
      <div id="CONTENT_SPLIT" class="component_ui split_component">
        <div class="search_area">
          <div class="commonBtn_area">
            <span id="TTL_COMM_CPT_HELP" class="component_ui"></span>
            <span id="TTL_CPT_03" class="component_ui"></span>
            <span id="TTL_CPT_04" class="component_ui"></span>
          </div>
          <div class="srhTab_area">
            <div id="SRH_TAB" class="component_ui tab_component">
              <div>
                <div class="parentCon">
                  <span class="leftCon">
                                      <span id="SRH_CPT_T1_01_01" class="component_ui"></span>
                                  </span>
                  <span class="rightCon">
                                      <span id="SRH_CPT_T1_01_04" class="component_ui"></span>
                                  </span>
                </div>
                <div class="parentCon">
                  <span class="leftCon">
                                      <span id="SRH_CPT_T1_02_01" class="component_ui"></span>
                                  </span>
                  <span class="rightCon">
                                      <span id="SRH_CPT_T1_02_04" class="component_ui"></span>
                                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="result_area">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div><div id="RST_CPT_01" class="component_ui"></div></div>

              <div>
                <div id="SRH_GROUP_COMBO_LABEL" class="component_ui"></div>
                <div id="SRH_GROUP_COMBO" class="component_ui"></div>
                <div id="RST_CPT_02" class="component_ui"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div id="POP_COMM_CPT_HELP_WINDOWS" class="component_ui">
    <div id="POP_COMM_CPT_HELP_01" class="component_ui"></div>
  </div>
  <div id="POP_UI_AD_14_01_WINDOWS" class="component_ui">
    <div class="popup_area">
      <div class="centerWrap">
        <div><div id="POP_UI_AD_14_01_01" class="component_ui"></div></div>
      </div>
    </div>
  </div>
  
  <style>
    #POP_UI_AD_14_01_01 > div {
      overflow: visible !important;
    }
  </style>
  